{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/Styles.css' %}" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div class="contenedor">
        <nav class="navbar navbar-expand-lg barra">
          <a class="navbar-brand logo" href="{% url 'index' %}"><h1 class="tamano__logo logo__bold no-margin centrar-texto">TM-RM</h1></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto navegacion">
              <li class="nav-item">
                <a class="nav-link navegacion__enlace buttonNav" href="{% url 'noticias' %}">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navegacion__enlace buttonNav" href="{% url 'contacto' %}">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link navegacion__enlace buttonNav" href="{% url 'catalogo' %}">Catalogo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navegacion__enlace buttonNav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item navegacion__enlace" href="#">Iniciar Sesión</a>
                  </li>
                  <li>
                    <a class="dropdown-item navegacion__enlace" href="#">Cuenta</a>
                  </li>
                  <li>
                    <a class="dropdown-item navegacion__enlace" href="#">Citas</a>
                  </li>
                  <li>
                    <a class="dropdown-item navegacion__enlace" href="#">Correo</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="logo" href="{% url 'carrito' %}">
                <button id="carritoBtn" class="btn carrito navegacion__enlace" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                  </svg>
                </button>
                </a>
              </li>
              <li class="nav-item barra__busqueda">
                <form class="d-flex" id="searchForm">
                  <input class="form-control me-2" type="search" placeholder="Buscar servicio..." aria-label="Buscar" required>
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navegacion__enlace buttonNav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        <a href="{% url 'login' %}" class="navegacion__enlace">Iniciar Sesión</a>
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                    {% else %}

                    {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    {% block content %}

    {% endblock %}
    <footer>
      <div class="contenedor">
        <div class="barra">
          <a class="logo" href="{% url 'contacto' %}">
            <button class="btn carrito navegacion__enlace" type="button" data-placement="bottom">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
              </svg>
            </button>
          </a>
          <nav class="navegacion">
            <a href="{% url 'crud' %}" class="navegacion__enlace buttonNav">Usuarios</a>
            <a href="{% url 'contacto' %}" class="navegacion__enlace buttonNav">Contacto</a>
            <a href="{% url 'catalogo' %}" class="navegacion__enlace buttonNav">Galería</a>
          </nav>
        </div>
      </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
  </body>

</html>
