{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
    <title>Taller Mecanico Rayo Makween</title>
</head>
<body>

    

    <div>
        <p class="hora centrar-texto" id="datetime"></p>
        <h1 class="subtitulo centrar-texto no-margin">Carrit</h1>
    </div>

        <div class="col-sm-6 carrito__card">
            <div class="card">
                <div class="card-body">
                    <h2 class="centrar-texto texto__catalogo"> Descripcion de la compra </h2>
                    <ul class="texto__proyecto">
                        <li>Producto 1</li>
                            <ul>
                                <li>Costo: $000.000</li>
                                <li>Mecanico:</li>
                            </ul>
                        <li>Producto 2</li>
                            <ul>
                                <li>Costo: $000.000</li>
                                <li>Mecanico:</li>
                            </ul>
                        <li>Producto 3</li>
                            <ul>
                                <li>Costo: $000.000</li>
                                <li>Mecanico:</li>
                            </ul>    
                    </ul>
                    
                    <h1 class="texto__catalogo centrar-texto"> Boleta a imprimir</h1>
                <div class="contenedor__carrito sombra">
                    <ul class="texto__proyecto">
                        <li>Usuario:</li>
                        <li>Rut:</li>
                        <li>Correo:</li>
                        <li>Monto Total:</li>
                        <li>Fecha:</li>
                        <li>Metodo de pago: Efectivo</li>
                    </ul>
                </div>
                <br>
                <button class="button" type="submit" value="Enviar">Comprar</button>
            </div>
        </div>
    </div>

{% endblock %}