{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
<title>Taller Mecánico Rayo Makween</title>
<div>
    <p class="hora centrar-texto" id="datetime"></p>
    <h1 class="subtitulo centrar-texto no-margin">Nuestros servicios</h1>
</div>

<div class="container">
    <div class="row">
        {% for x in servicios %}
        <div class="col-md-4 texto_catalogo">
            <div class="mb-4 shadow-sm p-3 card texto_catalogo">
                <h5 class="text-center titulo_servicio">{{ x.nombre_serv }}</h5>
                <p class="texto_card precio_servicio"><strong>Precio:</strong> {{ x.precio }}</p>
                <p class="texto_card plazo_servicio"><strong>Plazo:</strong> {{ x.plazo_entrega }}</p>
                <p class="texto_card plazo_servicio"><strong>Especialidad mecanico:</strong> {{ x.especialidad_me }}</p>
                <button type="button" class="btn btn-primary boton__modal" 
                        data-bs-toggle="modal" 
                        data-bs-target="#serviceModal"
                        data-nombre="{{ x.nombre_serv }}"
                        data-descripcion="{{ x.descripcion_servicio }}">
                    Ver Descripción
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Añadida clase modal-lg -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceModalLabel">Descripción del Servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 id="modalServiceName"></h5>
        <p id="modalServiceDescription"></p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'carrito' %}" class="btn btn-secondary">Ir al Carrito</a>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
