{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
 <title>Taller Mecánico Rayo Makween</title>
    <div>
        <p class="hora centrar-texto" id="datetime"></p>
        <h1 class="subtitulo centrar-texto no-margin">Nuestros servicios</h1>
    </div>

    <div class="contenedor__general">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/proyecto1.jpg' %}" class="card-img-top img-fluid" alt="Imagen 1">
                    <div class="card-body">
                        <h2 class="card-title texto__catalogo centrar-texto">Servicio 1</h2>
                        <button type="button" class="boton__modal buttonNav" data-bs-toggle="modal" data-bs-target="#modal1">Ver</button>
                        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modal1Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content modal__estilos">
                                    <div class="modal-header">
                                        <h1 class="h1" id="modal1Label subtitulo">¿Deseas ver este artículo?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton__modal" data-bs-dismiss="modal">Cerrar</button>
                                        <a href="{% url 'servicio1' %}"><button type="button" class="boton__modal">Sí, Ir</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/proyecto2.jpg' %}" class="card-img-top img-fluid" alt="Imagen 2">
                    <div class="card-body">
                        <h2 class="card-title texto__catalogo centrar-texto">Servicio 2</h2>
                        <button type="button" class="boton__modal buttonNav" data-bs-toggle="modal" data-bs-target="#modal2">Ver</button>
                        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modal2Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="h1" id="modal2Label">¿Estás seguro de ir?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton__modal" data-bs-dismiss="modal">Cerrar</button>
                                        <a href="{% url 'servicio2' %}"><button type="button" class="boton__modal">Sí, Ir</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/proyecto3.jpg' %}" class="card-img-top img-fluid" alt="Imagen 3">
                    <div class="card-body">
                        <h2 class="card-title texto__catalogo centrar-texto">Servicio 3</h2>
                        <button type="button" class="boton__modal buttonNav" data-bs-toggle="modal" data-bs-target="#modal3">Ver</button>
                        <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modal3Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="h1" id="modal3Label">¿Estás seguro de ir?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton__modal" data-bs-dismiss="modal">Cerrar</button>
                                        <a href="{% url 'servicio3' %}"><button type="button" class="boton__modal">Sí, Ir</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/proyecto4.jpg' %}" class="card-img-top img-fluid" alt="Imagen 4">
                    <div class="card-body">
                        <h2 class="card-title texto__catalogo centrar-texto">Servicio 4</h2>
                        <button type="button" class="boton__modal buttonNav" data-bs-toggle="modal" data-bs-target="#modal4">Ver</button>
                        <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modal4Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="h1" id="modal4Label">¿Estás seguro de ir?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton__modal" data-bs-dismiss="modal">Cerrar</button>
                                        <a href="{% url 'servicio4' %}"><button type="button" class="boton__modal">Sí, Ir</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/proyecto5.jpg' %}" class="card-img-top img-fluid" alt="Imagen 5">
                    <div class="card-body">
                        <h2 class="card-title texto__catalogo centrar-texto">Servicio 5</h2>
                        <button type="button" class="boton__modal buttonNav" data-bs-toggle="modal" data-bs-target="#modal5">Ver</button>
                        <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="modal5Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="h1" id="modal5Label">¿Estás seguro de ir?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton__modal" data-bs-dismiss="modal">Cerrar</button>
                                        <a href="{% url 'servicio5' %}"><button type="button" class="boton__modal">Sí, Ir</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/proyecto6.webp' %}" class="card-img-top img-fluid" alt="Imagen 6">
                    <div class="card-body">
                        <h2 class="card-title texto__catalogo centrar-texto">Servicio 6</h2>
                        <button type="button" class="boton__modal buttonNav" data-bs-toggle="modal" data-bs-target="#modal6">Ver</button>
                        <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="modal6Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="h1" id="modal6Label">¿Estás seguro de ir?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="boton__modal" data-bs-dismiss="modal">Cerrar</button>
                                        <a href="{% url 'servicio6' %}"><button type="button" class="boton__modal">Sí, Ir</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}