{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
<title>Taller Mecánico Rayo Makween</title>
<div>
    <p class="hora centrar-texto" id="datetime"></p>
    <h1 class="subtitulo centrar-texto no-margin">Nuestros servicios</h1>
</div>

<div style="text-align: center;">
    <div class="contenedor_listado">
        <table class="tabla_listado centrar-texto">
            <thead class="cabeza_tabla">
                <tr>
                    <th>ID</th>
                    <th>Nombre servicio</th>
                    <th>Precio</th>
                    <th>Plazo</th>
                    <th>Ver Descripción detallada</th>
                </tr>
            </thead>
            <tbody class="cuerpo_tabla">
                {% for x in servicios %}
                    <tr>
                        <td>{{ x.id_servicio }}</td>
                        <td>{{ x.nombre_serv }}</td>
                        <td>{{ x.precio }}</td>
                        <td>{{ x.plazo_entrega }}</td>
                        <td>
                            <!-- Botón para abrir el modal -->
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#descripcionModal{{ x.id_servicio }}">
                                Ver Descripción
                            </button>
                        </td>
                    </tr>

                    <!-- Modal -->
                    <div class="modal modal__estilos fade" id="descripcionModal{{ x.id_servicio }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Descripción del Servicio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ x.descripcion_servicio }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}