{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
    <div>
        <p class="hora centrar-texto" id="datetime"></p>
    </div>

    <div class="contenedor__formulario__Contacto sombra">
        <section>
            <h2 class="centrar-texto subtitulo">Contáctanos</h2>

            <form class="formulario__contacto subtitulo__formulario" id="formulario">
                <fieldset>
                    <div class="contenedor_campos_contacto">
                        <div class="campo">
                            <label for="nombre">Nombre</label>
                            <input class="input-text" id="nombre" type="text" placeholder="Tu nombre" required>
                        </div>
                        <div class="campo">
                            <label for="rut">RUT</label>
                            <input class="input-text" id="rut" type="text" placeholder="111111111" required>
                        </div>
                        <div class="campo">
                            <label for="apPaterno">Apellido Paterno</label>
                            <input class="input-text" id="apPaterno" type="text" placeholder="Apellido Paterno" required>
                        </div>
                        <div class="campo">
                            <label for="apMaterno">Apellido Materno</label>
                            <input class="input-text" id="apMaterno" type="text" placeholder="Apellido Materno" required>
                        </div>
                        <div class="campo">
                            <label for="edad">Edad</label>
                            <input class="input-text" id="edad" type="number" placeholder="Edad" min="18" max="35" required>
                        </div>
                        <div class="campo">
                            <label for="genero">Género</label>
                            <select class="form-select campo_genero" id="genero" aria-label="Default select example">
                                <option selected>Selecciona un género</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <div class="campo">
                            <label for="celular">Celular</label>
                            <input class="input-text" id="celular" type="tel" placeholder="Tu Teléfono" required>
                        </div>
                        <div class="campo">
                            <label for="celular">Gmail</label>
                            <input class="input-text" id="email" type="text" placeholder="Correo Electronico" required>
                        </div>
                    </div>
                    <div class="campo__comentario">
                        <label for="comentario">Mensaje</label>
                        <textarea class="input-text" id="comentario" placeholder="Deja tu comentario aquí"></textarea>
                    </div>

                    <button class="button" type="submit" value="Enviar">Enviar</button>
                        
                    
                </fieldset>
            </form>
            <div id="error"></div>
        </section>
    </div>
    <br>

{% endblock %}