{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
  <title>Taller Mecanico Rayo Makween</title>

  <div>
    <p class="hora centrar-texto" id="datetime"></p>
    <h1 class="subtitulo centrar-texto no-margin">Revisa nuestros Servicios pinchando en la imagen</h1>
  </div>

  <div class="contenedor__carrusel__b sombra__carrusel">
    <div class="contenedor__carrusel">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="{% url 'catalogo' %}"><img src="{% static 'img/imgServicios.jpg' %}" class="d-block w-100" alt="..." /></a>
          </div>
          <div class="carousel-item">
            <a href="{% url 'noticias' %}"><img src="{% static 'img/imgNosotros.jpg' %}" class="d-block w-100" alt="..." /></a>
          </div>
          <div class="carousel-item">
            <a href="{% url 'contacto' %}"><img src="{% static 'img/imgContactenos.jpg' %}" class="d-block w-100" alt="..." /></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}
