{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
<title>Taller Mecanico Rayo Makween</title>
<p class="hora centrar-texto" id="datetime"></p>

<div style="text-align: center;">
    <h1 class="subtitulo">Listado De Usuario</h1><br>

<div class="contenedor_listado">
    <table class="tabla_listado centrar-texto">
        <thead class="cabeza_tabla">
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido P.</th>
                <th>Apellido M.</th>
                <th>Fecha nacimiento</th>
                <th>Genero</th>
                <th>Telefono</th>
                <th>Correo</th>
                
            </tr>
        </thead>
        <tbody class="cuerpo_tabla">
            {% for x in Usuarios %}
                <tr>
                    <td>{{ x.rut }}</td>
                    <td>{{ x.nombre }}</td>
                    <td>{{ x.apellido_paterno }}</td>
                    <td>{{x.apellido_materno}}</td>
                    <td>{{x.fecha_nacimiento}}</td>
                    <td>{{x.id_genero}}</td>
                    <td>{{x.telefono}}</td>
                    <td>{{x.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% endblock %}