{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
<title>Taller Mecanico Rayo Makween</title>
<p class="hora centrar-texto" id="datetime"></p>


<div style="text-align: center;">

    {% if usuario %}
        <h2>Formulario Actualizar Datos</h2>

        <from action="{% url 'UsuarioUpdate' %} " method="POST">
            {% csrf_token %}

            <pre>Rut:              <input type="text"  name="rut" value="{{usuario.rut}}"></pre>
            <pre>Nombre:           <input type="text"  name="nombre" value="{{usuario.nombre}}"></pre>
            <pre>Apellido P.:      <input type="text"  name="paterno" value="{{usuario.apellido_paterno}}"></pre>
            <pre>Apellido M.:      <input type="text"  name="materno" value="{{usuario.apellido_materno}}"></pre>
            <pre>Fech nac.:        <input type="date"  name="fechaNac" value="{{usuario.fecha_nacimiento}}"></pre>
            <pre>Genero:  <select name="genero">
                {% for genero in generos %}

                    {% if genero.genero == Usuario.id_genero.genero %}
                        <option value="{{genero.id_genero}}""  select>{{genero.genero}}></option>
                    {% else %}
                        <option value="{{genero.id_genero}}""  select>{{genero.genero}}></option>
                    {% endif %}
                {% endfor %}    
            </select></pre>

            <pre>Celular:          <input type="text"  name="telefono" value="{{usuario.telefono}}"></pre>
            <pre>Email:            <input type="email"  name="email" value="{{usuario.email}}"></pre>

            <input type="submit" name="opcion" value="Actualizar"></input>

        </from> <br><br>
    {% endif %} 
    <div id="idMensajes">
        {% if mensaje %}
        {{mensaje}}
        {% endif %}
    </div>
    
    <br><br>
    <a href="{% url 'crud' %}">Volver</a>
</div>

{% endblock %}