{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
    <title>Taller Mecánico Rayo Makween</title>
    
        <h2>Formulario CRUD para Usuarios</h2><br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" name="opcion" value="Agregar"> 
        </form>

        <br>

        <div id="idMensajes">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
        
        <br>
        <a href="{% url 'crud' %}">Volver </a>
        <br>
   
{% endblock %}


