{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
    <title>Taller Mecánico Rayo Makween</title>
    <div style="text-align: center;">
        <h2>Formulario CRUD para Usuarios</h2><br>
        <form action="{% url 'UsuarioAdd' %}" method="POST">
            {% csrf_token %}

            <pre>Rut:              <input type="text"  name="rut"></pre>
            <pre>Nombre:           <input type="text"  name="nombre"></pre>
            <pre>Apellido P.:      <input type="text"  name="paterno"></pre>
            <pre>Apellido M.:      <input type="text"  name="materno"></pre>
            <pre>Fech nac.:        <input type="date"  name="fechaNac"></pre>

            <pre>Genero: <select name="genero">
                {% for genero in generos %}
                    <option value="{{ genero.id }}"> {{ genero.genero }}</option>
                {% endfor %}
            </select></pre>

            <pre>Celular:          <input type="text"  name="telefono"></pre>
            <pre>Email:            <input type="email"  name="email"></pre>
           

            <input type="submit" name="opcion" value="Agregar"> 
        </form><br><br>

        <a href="{% url 'crud' %}">Volver </a>
        <br>

        <div id="idMensajes">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
    </div>
{% endblock %}


