{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
<title>Taller Mecanico Rayo Makween</title>
    <p class="hora centrar-texto" id="datetime"></p>

    <h1>Editar Datos De Usuario</h1><br>
    <br>


    <button type="button">
        <a href="{% url 'UsuarioAdd' %}"> Agregar</a>
    </button>


    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if Usuarios %}
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido P.</th>
        <th>Eliminar</th>
        <th>Modificar</th>
        {% for x in usuarios %}
            <tr>
                <td> {{ x.rut}}
                <td> {{ x.nombre}}
                <td> {{ x.apellido_paterno}}
                <td> <button href="{% url 'Usuario_del' pk=x.rut %}">Eliminar</a>
                <td> <button href="{% url 'Usuario_findEdit' pk=x.rut %}">Modificar</a>
            </tr>

            {% endfor %}
        {% endif %}
    </table>



    {% endblock %}
