{% extends 'taller1/base.html' %}
{% load static %}

{% block content %}
    <title>Taller Mecánico Rayo Makween</title>
   <div class="contenedor_formulario">
    <div class="contenedor_form_agregar">
        <h2>Formulario CRUD para Usuarios</h2><br>
        <form class="form_agregar" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input class="input_agregar" type="submit" name="opcion" value="Agregar"> 
        </form>

        <br>

        <div id="idMensajes">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
    </div>  
</div>   
    <br>
    <a class="btn_agregar" href="{% url 'crud' %}">Volver </a><br>
{% endblock %}


